base: &base
  adapter: mysql2
  host: localhost
  user: root
  password: 
  pool: 5
  timeout: 5000

development:
  database: modulate_dev
  <<: *base

test:
  database: modulate_test
  <<: *base

production:
  database: modulate_pro
  <<: *base
